
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495691274523'); /* IE9*/
  src: url('iconfont.eot?t=1495691274523#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495691274523') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495691274523') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495691274523#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before { content: "\e60d"; }

.icon-xiayiye:before { content: "\e623"; }

.icon-youxiang:before { content: "\e694"; }

.icon-weixin:before { content: "\e695"; }

.icon-xinlangweibo:before { content: "\e69e"; }

.icon-qq:before { content: "\e69f"; }

.icon-shangyiye:before { content: "\e504"; }

.icon-fanhuishouye:before { content: "\e634"; }

.icon-hengxian:before { content: "\e63d"; }

