.main {
    width: 100%;
    height: 100%;
    /*border-top: 1px solid #F1103A;*/
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #fff;
    z-index: 10;
    text-align: center;
    /*border-top: 1px solid #F1103A;*/
}

.header .logo {
    margin-top: 70px;
    -webkit-transition: all .25S ease-out;
    -moz-transition: all .25S ease-out;
    -o-transition: all .25S ease-out;
    animation-duration: 0.8s;
    animation-delay: 0s;
}

.mgr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 300px;
    margin: -150px 0 0 -300px;
    border-top: none;
}

@media screen and (max-width: 601px) {
    .mgr {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 320px;
        height: 300px;
        margin: -150px 0 0 -160px;
        border-top: none;
    }
}

.header .nav {
    max-width: 600px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    -webkit-transition: height .25S ease-out;
    -moz-transition: height .25S ease-out;
    -o-transition: height .25S ease-out;
    animation-duration: 0.6s;
    animation-delay: 0.1s;
}

.header .nav .box {
    width: 100%;
    margin: 0 auto;
    text-transform: capitalize;
}

.header .nav .box .hover {
    color: #F1103A;
}

.header .nav .box .hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #F1103A;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.header .nav a {
    width: 80px;
    margin: 0 10px;
    text-align: center
}

.header .nav a:hover {
    color: #F1103A
}

@media screen and (max-width: 769px) {
    .header.fold {
        border-bottom: 1px solid #e6e6e6;
    }
    .header.fold .logo {
        width: 150px;
        margin: 0 auto;
        margin-top: 30px;
        display: inline-block;
    }
    .header.fold .logo img {
        width: 100px;
    }
    .header.fold .nav {
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (min-width: 769px) {
    .header.fold {
        border-bottom: 1px solid #e6e6e6;
    }
    .header.fold .logo {
        width: 150px;
        text-align: left;
        margin: 0 auto;
        margin-top: 20px;
        display: inline-block;
    }
    .header.fold .logo img {
        width: 100px;
    }
    .header.fold .nav {
        width: 450px;
        height: 60px;
        line-height: 60px;
        display: inline-block;
        text-align: right;
    }
}

.article-list,
.article-detail,
.about,
.archive {
    max-width: 600px;
    min-height: 350px;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 100px;
    padding: 0 30px 50px;
    position: relative;
}

.article-list ul {
    list-style-type: none;
    padding: 0;
    padding-top: 4px;
}

.article-list ul li {
    position: relative;
    padding: 30px 0 30px;
    border-bottom: 1px solid #e6e6e6;
}

.article-list ul li:first-child {
    margin-top: -30px;
}

.article-list h2,
.article-list h3 {
    letter-spacing: 2px;
    margin: 0;
    text-transform:capitalize;
}

.article-list h2 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 120px;
    letter-spacing: 1px;
}

.article-list h2 a {
    color: #444;
}

.article-list h2 a:hover {
    color: #F1103A;
}

.article-list h3 {
    font-size: 14px;
    color: #999;
    position: absolute;
    left: 0;
    top: 35px;
}

.article-list .loading {
    text-align: center;
    margin: 30px 0;
}

.article-detail h2.title {
    text-align: left;
    font-size: 28px;
    color: #444;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.article-detail h3.date {
    text-align: left;
    font-size: 14px;
    color: #999;
    margin: 10px 0 50px 0;
    letter-spacing: 2px;
}

.article-detail .content {
    min-height: 500px;
}

.article-detail .page {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 0;
    height: 50px;
    /*border-top: 1px solid #e6e6e6*/
}

.article-detail .page a {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 30px;
    line-height: 30px;
    color: #999
}

.article-detail .page a:hover {
    color: #F1103A;
}

.article-detail .page .prev {
    float: left;
    margin-left: 10%;
}

.article-detail .page .next {
    float: right;
    margin-right: 10%;
}

.article-detail .page .prev span {
    margin-left: 5px;
}

.article-detail .page .next span {
    margin-right: 5px;
}

@media screen and (max-width: 769px) {
    .article-list,
    .article-detail,
    .about,
    .archive {
        margin-bottom: 0
    }
    .article-detail .page {
        height: 30px;
        border-top: 1px solid #e6e6e6;
        line-height: 30px;
        background: #fff;
        padding: 10px 0;
        z-index: 1;
    }
}

.article-detail .edit {
    float: right;
}

.write {
    width: 100%;
}

.write select {
    position: absolute;
    background: #1e2126;
    color: #fff;
    top: 0;
    left: 0;
    font-size: 12px;
    border: none;
    outline: none;
}

.write select option {
    font-size: 12px;
    border: none;
    outline: none
}

.write input.edittitle {
    position: relative;
    width: 46%;
    padding: 35px 2% 5px 2%;
    background: #1e2126;
    border: none;
    color: #e6e6e6;
}

.write .doctitle {
    position: relative;
    width: 46%;
    padding: 35px 2% 5px 2%;
    background: #fff;
    border: none;
    color: black;
    float: right;
    font-size: 18px;
    font-weight: bold
}

.write textarea {
    width: 46%;
    display: inline-block;
    border: none;
    position: absolute;
    background: #1e2126;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 85px 2% 2% 2%;
    color: #e6e6e6
}

.write article {
    width: 46%;
    display: inline-block;
    position: absolute;
    background: #fff;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 85px 2% 2% 2%;
    overflow-y: auto;
}

.archive .box {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.archive .box h2 {
    font-size: 24px;
    color: #444;
}

.archive .box ul {
    padding: 10px 0 0 25px;
}

.archive .box li {
    font-size: 14px;
    color: #999;
    padding: 10px 0 10px 5%;
    border-left: 1px solid #999;
}

.archive .box li h3 {
    display: inline-block;
    position: absolute;
    margin-top: 1px;
    color: #999
}

.archive .box li a {
    display: inline-block;
    margin-left: 105px;
}

.archive .box li a:hover {
    color: #F1103A;
}

.about div {
    /*float:left*/
    padding: 10px;
    font-size: 14px;
    letter-spacing: 2px;
}

.about div.content {
    margin: 40px 0;
}

.about div.content p {
    padding: 5px 0;
    line-height: 30px;
}

.about div i {
    font-size: 20px;
    margin-right: 5px;
    line-height: 10px;
    vertical-align: middle;
    color: #444
}

.about a:hover {
    color: #F1103A;
}

.footer {
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
}

@media screen and (max-width: 769px) {
    .footer {
        padding-bottom: 70px
    }
}

.pager {
    text-align: center;
    margin: 80px 0 40px 0;
}

.pager span {
    display: inline-block;
    width: 36px;
    height: 36px;
    color: #444;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
}

.pager span.m {
    font-weight: bold;
}

.pager span.m,
.pager span:hover {
    color: #F1103A;
}

.pager .prev.n,
.pager .next.n {
    opacity: 0;
}

.pager .prev,
.pager .next {
    color: #444;
}

.login {
    margin: 0 auto;
    margin-top: 250px;
    min-height: 450px;
    max-width: 600px;
}

.login .col {
    text-align: center;
    padding: 10px 0;
}

.login .col i {
    position: relative;
    left: 20px;
    font-size: 18px;
    color: #444;
}

.login .col input {
    font-size: 14px;
    padding: 5px 5px 5px 30px;
    border: none;
    border-bottom: 1px solid #999
}

.login .col span.btn {
    width: 100px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    background: #444;
    display: inline-block;
    cursor: pointer;
}

.login .col span.btn:hover {
    background: #F1103A;
}

@media screen and (max-width: 420px) {
    .article-list h2 {
        font-size: 16px;
        margin-left: 0;
    }
    .article-list h2 a:hover {
        color: #F1103A;
    }
    .article-list h3 {
        font-size: 11px;
        position: static;
        margin-bottom: 10px;
    }
    .article-list ul li {
        padding: 18px 0 20px;
    }
    .article-list ul li:first-child {
        margin-top: -35px;
    }
}

@media screen and (min-width: 769px) {
    .float {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
    .float .top {
        cursor: pointer;
        /*width: 48px;
        height: 48px;
        background: url("../images/top.png") no-repeat;*/
        -webkit-transition: all .25S ease-out;
        -moz-transition: all .25S ease-out;
        -o-transition: all .25S ease-out;
    }
    .float .top i {
        font-size: 48px;
    }
    .float .top:hover {
        color: #F1103A
    }
    .float a.home i {
        font-size: 32px;
    }
    .float a.home i:hover {
        color: #F1103A;
        -webkit-transition: all .25S ease-out;
        -moz-transition: all .25S ease-out;
        -o-transition: all .25S ease-out;
    }
}

@media screen and (max-width: 769px) {
    .float {
        display: none;
    }
}